<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование адреса</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="head/header"></div>

<div align="center" th:each="apl : ${adresPoligon}">
    <h1>Редактирование адреса</h1>
    <form th:action="'/poligons/' + ${apl.id} + '/edit'" method="post" th:object="${adresPoligon}">

        <input th:field="*{gorodPoligona}" th:value="${apl.getGorodPoligona()}" style="width: 250px; height: 40px; margin: 2px" type="text" name="gorodPoligona" placeholder="Введите город"><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('gorodPoligona')}" th:errors="*{gorodPoligona}"></div><br>

        <input th:field="*{streetPoligona}" th:value="${apl.getStreetPoligona()}" style="width: 250px; height: 40px; margin: 2px" type="text" name="streetPoligona" placeholder="Введите улицу"><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('streetPoligona')}" th:errors="*{streetPoligona}"></div><br>

        <input th:field="*{domPoligona}" th:value="${apl.getDomPoligona()}" style="width: 250px; height: 40px; margin: 2px" type="number" name="domPoligona" placeholder="Введите дом"><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('domPoligona')}" th:errors="*{domPoligona}"></div><br>

        <input th:field="*{korpusPoligona}" th:value="${apl.getKorpusPoligona()}" style="width: 250px; height: 40px; margin: 2px" type="number" name="korpusPoligona" placeholder="Введите корпус"><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('korpusPoligona')}" th:errors="*{korpusPoligona}"></div><br>

        <button type="submit">Сохранить</button>
    </form>
</div>

</body>
</html>