<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Чеки</title>
</head>
<body>

<div th:insert="head/header"></div>

<div align="center">
    <h1>-ВСЕ ЧЕКИ-</h1>
    <h4 style="margin: 5px"><a href="/chek/add"> Добавить чек</a></h4>
    <table>
        <div th:each="ch : ${chek}">
            <h5>---------------------------------------------------------</h5>
            <h4 th:text="${'Дата и время: '+ch.getDataChek()+' '+ch.getTimeChek()}" ></h4>
            <h4 th:text="${'Кол-во человек: '+ch.getColichChek()}" ></h4>
            <h4 th:text="${'Сумма чека: '+ch.getFinalPriceChek()}" ></h4>
            <h5><a th:href="'/chek/' + ${ch.id}"> Подробнее </a></h5>
        </div>
    </table>
</div>

</body>
</html>