<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Добавление нового чека</title>
</head>
<body>

<div th:insert="head/header"></div>

<div align="center">
    <h1>Добавление чека</h1>
    <form th:action = "${'/chek/add'}" method="post" th:object="${chek}">

        <input th:field="*{colichChek}" style="width: 250px; height: 40px; margin: 2px" type="number" name="colichChek" placeholder="Введите кол-во человек"><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('colichChek')}" th:errors="*{colichChek}"></div><br>

        <div>Клиент</div>
        <select style="margin-bottom: 10px" name="klienti1">
            <div  th:each="klt : ${klienti}">
                <option th:value="${klt.id}" th:text="${'ФИО: '+ klt.familiaKlienta +' '+ klt.nameKlienta+' '+ klt.otchKlienta}"></option>
            </div>
        </select>
        <br>
        <div>Сотрудник</div>
        <select style="margin-bottom: 10px" name="user1">
            <div  th:each="str : ${user}">
                <option th:value="${str.id}" th:text="${'ФИО: '+ str.familiaSotrudnika +' '+ str.nameSotrudnika+' '+ str.otchSotrudnika}"></option>
            </div>
        </select>
        <br>
        <div>Сеанс</div>
        <select style="margin-bottom: 10px" name="seansi1">
            <div  th:each="sea : ${seansi}">
                <option th:value="${sea.id}" th:text="${'Дата: '+ sea.dataSeansa +' Время: '+ sea.timeSeansa +' Продолжительность: '+ sea.prodoljSeansa +' Кол-во патронов: '+ sea.colichBulletSeansa +' Цена: '+ sea.priceSeansa}"></option>
            </div>
        </select>
        <br>
        <div>Сувенир</div>
        <select style="margin-bottom: 10px" name="suvenirs1">
            <div  th:each="suv : ${suvenirs}">
                <option th:value="${suv.id}" th:text="${'Название сувенира: '+ suv.nazvanieSuvenira}"></option>
            </div>
        </select>
        <br>
        <button type="submit">Добавить чек</button>
    </form>
</div>

</body>
</html>