<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Сеансы</title>
</head>
<body>

<div th:insert="head/header"></div>

<div align="center">
    <h1>-ВСЕ СЕАНСЫ-</h1>
    <div th:if="${#messages}">
        <h5 th:text="${message}"></h5>
    </div>
    <table>
        <div th:each="sea : ${seansi}">
            <h5>---------------------------------------------------------</h5>
            <h4 th:text="${'Дата сеанса: '+sea.getDataSeansa()}" ></h4>
            <h4 th:text="${'Время сеанса: '+sea.getTimeSeansa()}" ></h4>
            <h4 th:text="${'Продолжительность сеанса: '+sea.getProdoljSeansa()}" ></h4>
            <h5><a th:href="'/seansi/' + ${sea.id}"> Подробнее </a></h5>
        </div>
    </table>
</div>

</body>
</html>