<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
  <title>Вход</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
        rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
        rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        rel="stylesheet">
  <link href="./CSS/style.css"
        rel="stylesheet">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form th:action="@{/login}" method="post" class="box">
          <h1>Login</h1>
          <div class="text-muted" th:if="${param.error}">
            Неверный логин или пароль
          </div>
          <div class="text-muted" th:if="${param.logout}">
            Вы вышли из аккаунта
          </div>
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="submit"value="Login">
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>