<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Регистрация</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
          rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          rel="stylesheet">
    <link href="./CSS/style.css"
          rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form th:action="@{/registrationAdmin}" th:object="${user}" method="post" class="box">
                    <h1>Add_Admin</h1>
                    <div class="text-muted" th:if="${#messages}">
                        <p th:text="${message}"></p>
                    </div>

                    <input th:field="*{familiaSotrudnika}" type="text" name="familiaSotrudnika" placeholder="Фамилия">
                    <div class="text-muted" th:if="*{#fields.hasErrors('nameSotrudnika')}" th:errors="*{nameSotrudnika}"></div>

                    <input th:field="*{nameSotrudnika}" type="text" name="nameSotrudnika" placeholder="Имя">
                    <div class="text-muted" th:if="*{#fields.hasErrors('nameSotrudnika')}" th:errors="*{nameSotrudnika}"></div>

                    <input th:field="*{otchSotrudnika}" type="text" name="otchSotrudnika" placeholder="Отчество">
                    <div class="text-muted" th:if="*{#fields.hasErrors('otchSotrudnika')}" th:errors="*{otchSotrudnika}"></div>

                    <input th:field="*{pasportSotrudnika}" type="number" name="pasportSotrudnika" placeholder="Паспорт">
                    <div class="text-muted" th:if="*{#fields.hasErrors('pasportSotrudnika')}" th:errors="*{pasportSotrudnika}"></div>

                    <input th:field="*{telephonSotrudnika}" type="number" name="telephonSotrudnika" placeholder="Телефон">
                    <div class="text-muted" th:if="*{#fields.hasErrors('telephonSotrudnika')}" th:errors="*{telephonSotrudnika}"></div>

                    <input th:field="*{mailSotrudnika}" type="email" name="mailSotrudnika" placeholder="Почта">
                    <div class="text-muted" th:if="*{#fields.hasErrors('mailSotrudnika')}" th:errors="*{mailSotrudnika}"></div>

                    <input th:field="*{birthdaySotrudnika}" type="date" name="birthdaySotrudnika" placeholder="Дата рождения">
                    <div class="text-muted" th:if="*{#fields.hasErrors('birthdaySotrudnika')}" th:errors="*{birthdaySotrudnika}"></div>

                    <input th:field="*{username}" type="text" name="username" placeholder="Username">
                    <div class="text-muted" th:if="*{#fields.hasErrors('username')}" th:errors="*{username}"></div>

                    <input th:field="*{password}" type="password" name="password" placeholder="Password">
                    <div class="text-muted" th:if="*{#fields.hasErrors('password')}" th:errors="*{password}"></div>

                    <input type="submit" value="Registration">

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>