<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Сувениры</title>
</head>
<body>

<div th:insert="head/header"></div>

<div align="center">
    <h1>-ВСЕ СУВЕНИРЫ-</h1>
    <h4 style="margin: 5px"><a href="/suvenirs/add"> Добавить сувенир</a></h4>
    <table>
        <div th:each="suv : ${suvenirs}">
            <h5>---------------------------------------------------------</h5>
            <h4 th:text="${suv.getNazvanieSuvenira()}" style="display: inline-block"></h4>
            <h5><a th:href="'/suvenirs/' + ${suv.id}"> Подробнее </a></h5>
        </div>
    </table>
</div>

</body>
</html>