<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Добавление лицензии</title>
</head>
<body>

<div th:insert="head/header"></div>

<div align="center">
    <h1>Добавление лицензии</h1>
    <form th:action = "${'/licenzia/add'}" method="post" th:object="${licenzia}">

        <input th:field="*{nomerLicenzii}" style="width: 250px; height: 40px; margin: 2px" type="text" name="nomerLicenzii" placeholder="Введите номер лицензии"><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('nomerLicenzii')}" th:errors="*{nomerLicenzii}"></div><br>

        <input th:field="*{organLicenzii}" style="width: 250px; height: 40px; margin: 2px" type="text" name="organLicenzii" placeholder="Введите орган выдачи лицензии"><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('organLicenzii')}" th:errors="*{organLicenzii}"></div><br>

        <div>Дата начала лицензии</div>
        <input th:field="*{dataStartLicenzii}" style="width: 250px; height: 40px; margin: 2px" type="date"  name="dataStartLicenzii" placeholder="Введите дату начала"><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('dataStartLicenzii')}" th:errors="*{dataStartLicenzii}"></div><br>

        <div>Дата окончания лицензии</div>
        <input th:field="*{dataFinalLicenzii}" style="width: 250px; height: 40px; margin: 2px" type="date" name="dataFinalLicenzii" placeholder="Введите дату окончания"><br>
        <div style="width: 250px; height: 40px; margin: 2px" th:if="*{#fields.hasErrors('dataFinalLicenzii')}" th:errors="*{dataFinalLicenzii}"></div><br>

        <button type="submit">Добавить лицензию</button>
    </form>
</div>

</body>
</html>