<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <title>Оружие</title>
</head>
<body>

<div th:insert="head/header"></div>

<div align="center">
    <h1>-ВСЁ ОРУЖИЕ-</h1>
    <h4 style="margin: 5px"><a href="/weapon/add"> Добавить оружие</a></h4>
    <table>
        <div th:each="wep : ${weapons}">
            <h5>---------------------------------------------------------</h5>
            <h4 th:text="${'Название оружия: '+wep.getNazvanieWeapon()}" ></h4>
            <h4 th:text="${'Тип патронов: '+wep.getTipPatrWeapon()}" ></h4>
            <h4 th:text="${'Год производства: '+wep.getGodProizWeapon()}" ></h4>
            <h4 th:text="${'Поставщик оружия: '+wep.getPostav().getNazvaniePostav()}" ></h4>
            <h5><a th:href="'/weapon/' + ${wep.id}"> Подробнее </a></h5>
        </div>
    </table>
</div>

</body>
</html>